<div id="<%= dom_id person %>" class="bg-green-300 p-3 rounded-md flex">
  <div class="flex-1">
    <div class="font-bold">
      <%= person.first_name %> <%= person.last_name %>
    </div>

    <p class="">
      <%= person.email %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Note:</strong>
      <%= person.note %>
    </p>

  </div>
  <div class="flex-none">
    <%= link_to "Edit", edit_person_path(person), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
