<div id="<%= dom_id person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= person.position_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stage:</strong>
    <%= person.stage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= person.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= person.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= person.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= person.note %>
  </p>

</div>
