<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "People" %>

  <turbo-frame id="column" class="min-w-full" refresh="morph">
    <h2 class="text-l border-b-2 border-gray-500 p-2"><%= params[:stage]&.humanize %></h2>
    <div
      class="flex-1 p-2 space-y-2"
    >
      <turbo-frame id="new_person_<%= params[:stage] %>">
        <%= link_to "New person", new_position_person_path(@position, stage: params[:stage]), class: "rounded-lg py-3 px-5 bg-gray-600 text-white block font-medium text-center" %>
      </turbo-frame>
      <% @people.each do |person| %>
        <%= render person %>
      <% end %>
    </turbo-frame>
  </div>
</div>
